.storeheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	}
	

.storecart {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	}
	
.storebody {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	}

.storefooter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	}
		
.heading {
font-family: "Times New Roman", Times, serif;
font-size: 14px;
font-weight: bold;	
color: #000033;
}

a:link {color: #666666; text-decoration: none; }
a:visited {color: #666666; text-decoration: none; }
a:hover {color: #666666; text-decoration: underline; }
a:active {color: #666666; }

a.intext:link {color: #666666; size: 12px; text-decoration: none; }
a.intext:visited {color: #000000; size: 12px; text-decoration: none; }
a.intext:hover {color: #000000; size: 12px; text-decoration: underline; }
a.intext:active {color: #000000; }  