body {
	font-family: arial, helvetica, serif;
	}

#nav, #nav ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	font-size: 12px;
}

#nav a {
	display: block;
	width: 10em;
	font-weight: bold;
}

#nav li { /* all list items */
	float: left;
	width: 10em; /* width needed or else Opera goes nuts */
}

#nav li ul { /* second-level lists */
	position: absolute;
	background: #01205A;
	width: 10em;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

#nav li:hover ul, #nav li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

#content {
	clear: left;
	color: #ccc;
}





#navmain1, #navmain1 ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	font-size: 12px;
}

#navmain1 a {
	display: block;
	width: 10em;
	font-weight:bold;
}

#navmain1 li { /* all list items */
	float: left;
	width: 10em; /* width needed or else Opera goes nuts */
}

#navmain1 li ul { /* second-level lists */
	position: absolute;
	background: #3E94D1A;
	width: 10em;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

#navmain1 li:hover ul, #navmain1 li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

#contentmain1 {
	clear: left;
	color: #ccc;
}





#navmain2, #navmain2 ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	font-size: 12px;
}

#navmain2 a {
	display: block;
	width: 10em;
	font-weight:bold;
}

#navmain2 li { /* all list items */
	float: left;
	width: 10em; /* width needed or else Opera goes nuts */
}

#navmain2 li ul { /* second-level lists */
	position: absolute;

	width: 10em;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

#navmain2 li:hover ul, #navmain2 li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

#contentmain2 {
	clear: left;
	color: #ccc;
}





#navmain3, #navmain3 ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	font-size: 12px;
}

#navmain3 a {
	display: block;
	width: 10em;
	font-weight: bold;

}

#navmain3 li { /* all list items */
	float: left;
	width: 10em; /* width needed or else Opera goes nuts */
}

#navmain3 li ul { /* second-level lists */
	position: absolute;
background: 337D3C;
	width: 10em;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

#navmain3 li:hover ul, #navmain3 li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

#contentmain3 {
	clear: left;
	color: #ccc;
}



#navmain4, #navmain4 ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	font-size: 12px;
    background: #976432; 
}

#navmain4 a {
	display: block;
	width: 10em;
	font-weight: bold;

}

#navmain4 li { /* all list items */
	float: left;
	width: 10em; /* width needed or else Opera goes nuts */
}

#navmain4 li ul { /* second-level lists */
	position: absolute;
	background: #976432;
	width: 10em;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

#navmain4 li:hover ul, #navmain4 li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

#contentmain4 {
	clear: left;
	color: #ccc;
}

#navmain5, #navmain5 ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	font-size: 12px;
    background: #000000;
	color:#CCCCCC;
	
}

#navmain5 a {
	display: block;
	width: 10em;
	font-weight: bold;
	color:#CCCCCC;

}

#navmain5 li { /* all list items */
	float: left;
	width: 10em; /* width needed or else Opera goes nuts */
}

#navmain5 li ul { /* second-level lists */
	position: absolute;
	background: #000000;
	width: 10em;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

#navmain5 li:hover ul, #navmain5 li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

#contentmain5 {
	clear: left;
	color: #ccc;
}

#navmain6, #navmain6 ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	font-size: 12px;
    background: #990000; 
}

#navmain6 a {
	display: block;
	width: 10em;
	font-weight: bold;

}

#navmain6 li { /* all list items */
	float: left;
	width: 10em; /* width needed or else Opera goes nuts */
}

#navmain6 li ul { /* second-level lists */
	position: absolute;
	background: #990000;
	width: 10em;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

#navmain6 li:hover ul, #navmain6 li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

#contentmain6 {
	clear: left;
	color: #ccc;
}