<!DOCTYPE html>
<html lang="en">
{% include header.html %}

<div class="outer">
  <div class="middle">
    <div class="inner">
      <p class="center"><img src="images/tradition.png" alt="Tradition" /></p>
      <p class="center">An illustration of Tradition. Drawn from <a href="https://1drv.ms/v/s!AiEkqaCtqcwG5CJQvfoG9h_gC7qc?e=qaBn9b" target="_blank">this lecture</a> by Seyyed Hossein Nasr.</p>
      <br />
      <p class="center source">&copy; Meezaan-ud-Din Abdu Dhil-Jalali Wal-Ikram</p>
    </div>
  </div>
</div>

{% include dates.html %}
{% include footer.html %}

</html>

